Funcion range() --- generador de números

In [1]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [2]:
list(range(0,20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [3]:
for x in range(0,4):
    print(x)

0
1
2
3

Compresiones de lista: crear una lista a partir de otra

In [5]:
lista1 = [1,2,3,4,5]
lista2 = []
for numero in lista1:
    valor = numero*2
    lista2.append(valor)
print(lista2)

[2, 4, 6, 8, 10]

In [9]:
# Todo esto podemos hacerlo en 1 sola línea con las compresiones de listas
lista1 = [1,2,3,4,5]
lista3 = [numero*2 for numero in lista1]

In [10]:
lista3

[2, 4, 6, 8, 10]

Funciones: una función en Python es una agrupación de código que permite reutilizarlo. Lo codificamos 1 sola vez
y lo usamos siempre que lo necesitemos

In [11]:
def funcion ():
    print ("Hola")

In [12]:
funcion()

Hola

In [13]:
def saludar(nombre):
    print ("Buenos dias "+nombre)
saludar("Tamara")

Buenos dias Tamara

In [15]:
def sumar (num1, num2):
    res= num1+num2
    return res

In [16]:
sumar(5,3)

8

Funcion map()

In [1]:
def multiplicar (num):
    return num*2

In [2]:
multiplicar(5)

10

In [3]:
lista = [1,2,3,4,5]
multiplicar(lista)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [6]:
lista2 = list(map(multiplicar, lista))

In [7]:
lista2

[2, 4, 6, 8, 10]

Funcion lambda: es unna función anónima, sin nombre, que se usa para simplificar el código

In [8]:
def multiplicar (num):
    return num*2

In [9]:
multiplicar(5)

10

In [10]:
lista = [1,2,3,4,5]
lista2 = list(map(multiplicar, lista))
lista2

[2, 4, 6, 8, 10]

In [11]:
lista = [1,2,3,4,5]
lista3 = list(map(lambda numero: numero*2, lista))
lista3

[2, 4, 6, 8, 10]

Función filter()

In [1]:
def pares(numero):
    if (numero%2==0):
        return numero

In [2]:
pares(5)

In [3]:
pares(4)

4

In [6]:
list1 =[1,2,3,4,5,6,7]
lista_pares = list(filter(pares, list1))
lista_pares

[2, 4, 6]

In [8]:
# esto mismo se puede hacer con una función  lambda, sin tener que creesr la función pares
list1 =[1,2,3,4,5,6,7]
lista_pares_lambda = list(filter(lambda numero:numero%2==0, list1))
lista_pares_lambda

[2, 4, 6]

Funciones de cadenas de caracteres

In [9]:
cadena = "Hola buenos días, me llamo Tamara"

In [10]:
cadena

'Hola buenos días, me llamo Tamara'

In [11]:
cadena.upper()

'HOLA BUENOS DÍAS, ME LLAMO TAMARA'

In [12]:
cadena

'Hola buenos días, me llamo Tamara'

In [13]:
cadena_mayuscula = cadena.upper()

In [14]:
cadena_mayuscula

'HOLA BUENOS DÍAS, ME LLAMO TAMARA'

In [15]:
#Para ponerlo todo en minúscula
cadena.lower()

'hola buenos días, me llamo tamara'

In [16]:
#Dividimos la cadena
cadena.split()

['Hola', 'buenos', 'días,', 'me', 'llamo', 'Tamara']

In [17]:
#Podemos especificar por qué elemento queremos que se divida la cadena, en este caso vamos a poner la coma
cadena.split(",")

['Hola buenos días', ' me llamo Tamara']

In [18]:
#Para acceder a los elementos
cadena.split(",")[0]

'Hola buenos días'